.navbar__email {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin-right: 24px;
}

@media screen and (max-width: 767px) {
  .navbar__email {
    margin-bottom: 18px;
    margin-top: 12px;
    margin-right: 0;
  }
}
