.hamburger__line {
  margin: 0;
  padding: 0;
  top: 50%;
  left: 0;
  width: 24px;
  height: 3px;
  background: #FFFFFF;
  position: absolute;
  transition: 0.6s;
}

.hamburger__line:before,
.hamburger__line:after {
  content: '';
  position:absolute;
  width: 24px;
  top: 50%;
  left: 0;
  height: 3px;
  background: #FFFFFF;
  transition: 0.6s;
}

.hamburger__line:before {
  top: -9px;
}

.hamburger__line:after {
  top: 9px;
}

.hamburger_active .hamburger__line {
  background:rgba(0,0,0,0);
}

.hamburger_active .hamburger__line:before {
  top: 0;
  transform: rotate(45deg);
}

.hamburger_active .hamburger__line:after {
  top: 0;
  transform: rotate(135deg);
}
